# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
.venv/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Model Artifacts (temporary)
# ==========================
*.pt
*.pth
*.onnx